svg .st20{
    fill: blue;
    stroke: 20px solid orange;
}

svg .st21 {
    fill: red;
    stroke: 20px solid orange;
}

.st20:hover {
    cursor: pointer;
}


.st21:hover {
    cursor: pointer;
}
#sideBar {
    height: 1000px;
    width: 30%;
    background: white;
    position: absolute;
    display: none;

}